@keyframes slides {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.sponsorContainer {
    background-color: #F6F8FF;
    height: 30vh;
    overflow: hidden;
    white-space: nowrap;
}

.sponsorContainer > h2 {
    text-align: center;
    color: #475467;
    font-size: 20px;
    font-weight: 500;
    padding: 15px 0;
}

.sponsors {
    display: inline-flex;
    gap: 3rem;
    animation: 15s slides infinite linear;
    max-height: 70vh;
}

.sponsors img {
    max-height: 100%; /* Ensures images fit within the container height */
}

@media screen and (max-width: 769px) {
    .sponsorContainer {
        height: auto;
    }
    .sponsorContainer > h2 {
        font-size: 16px;
    }
}
