@keyframes slides {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.sponsorContainer {
    background-color: #F6F8FF;
    height: 30vh;
    overflow: hidden;
    position: relative; /* Added to contain absolute positioning */
    white-space: nowrap;
}

.sponsorContainer > h2 {
    text-align: center;
    color: #475467;
    font-size: 20px;
    font-weight: 500;
    padding: 15px 0;
}

.sponsors {
    display: flex; /* Changed from inline-flex to flex */
    gap: 3rem;
    animation: slides 15s linear infinite; /* Adjusted timing and changed to flex */
    max-height: 70vh;
    width: 200%; /* Adjusted width to ensure proper transition */
}

.sponsors img {
    max-height: 100%; 
    object-fit: contain; /* Maintains aspect ratio */
    width: auto; /* Adjust width to auto to prevent stretching */
    flex-shrink: 0; /* Prevent shrinking */
}

@media screen and (max-width: 769px) {
    .sponsorContainer {
        height: auto;
    }
    .sponsorContainer > h2 {
        font-size: 16px;
    }
}
